In [37]:
import pandas as pd
import numpy as np
df = pd.read_csv("customers-10000.csv")

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              10000 non-null  int64
 1   Customer Id        10000 non-null  object
 2   First Name         10000 non-null  object
 3   Last Name          10000 non-null  object
 4   Company            10000 non-null  object
 5   City               10000 non-null  object
 6   Country            10000 non-null  object
 7   Phone 1            10000 non-null  object
 8   Phone 2            10000 non-null  object
 9   Email              10000 non-null  object
 10  Subscription Date  10000 non-null  object
 11  Website            10000 non-null  object
dtypes: int64(1), object(11)
memory usage: 937.6+ KB

In [39]:
df.columns = (
    df.columns
    .str.strip()
    .str.lower()
    .str.replace(" ","_")
)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              10000 non-null  int64
 1   customer_id        10000 non-null  object
 2   first_name         10000 non-null  object
 3   last_name          10000 non-null  object
 4   company            10000 non-null  object
 5   city               10000 non-null  object
 6   country            10000 non-null  object
 7   phone_1            10000 non-null  object
 8   phone_2            10000 non-null  object
 9   email              10000 non-null  object
 10  subscription_date  10000 non-null  object
 11  website            10000 non-null  object
dtypes: int64(1), object(11)
memory usage: 937.6+ KB

In [40]:
df.drop_duplicates("customer_id", inplace=True)

In [41]:
print(df.isna().count())

index                10000
customer_id          10000
first_name           10000
last_name            10000
company              10000
city                 10000
country              10000
phone_1              10000
phone_2              10000
email                10000
subscription_date    10000
website              10000
dtype: int64

In [42]:
df["email_domain"] = "@" + df["email"].str.split("@").str[1]
print(df["email_domain"])

0       @espinoza-francis.net
1           @hall-donovan.com
2         @blevins-sexton.com
3                @anthony.com
4         @rangel-shields.com
                ...
9995              @bates.info
9996                @wade.com
9997      @barnett-dorsey.com
9998     @villegas-wilcox.com
9999            @martinez.com
Name: email_domain, Length: 10000, dtype: object

In [43]:
df["full_name"] = df["first_name"].str.strip() + " " + df["last_name"].str.strip()

In [44]:
df["subscription_date"] = pd.to_datetime(df["subscription_date"])
df["subscription_year"] = df["subscription_date"].dt.year
df["subscription_month"] = df["subscription_date"].dt.month

In [45]:
customers_by_country = df.groupby("country")["full_name"].count()
print(customers_by_country)

country
Afghanistan          41
Albania              49
Algeria              33
American Samoa       48
Andorra              54
                     ..
Wallis and Futuna    45
Western Sahara       42
Yemen                44
Zambia               43
Zimbabwe             48
Name: full_name, Length: 243, dtype: int64

In [48]:
df["subscription_age_days"] =( pd.Timestamp.today() - df["subscription_date"]).dt.days

In [51]:
df.to_excel("cleaned_customers.xlsx", index = True)
customers_by_country.to_excel("customers_by_country.xlsx", index = True)